<div>
  <%= simple_form_for [@list,@bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit 'Create' %>
  <% end %>
</div>

<div>
  <%= link_to 'Back', lists_path %>
</div>
